.projects {
  width: 90vw;
  margin: auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
.project {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.project-title {
  font-size: 15px;
  border-radius: 0 50px 50px 0;
  box-shadow: 2px 2px 3px #999;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 6px 8px;
  background-color: rgb(30, 32, 40);
  color: #f1f1f1;
  z-index: 9;
}
.project-link {
  margin-left: 10px;
  text-decoration: none;
  color: #f1f1f1;
}
